:root {
    background : #462100;
    color: white;
    font-family: McLaren;
    text-align: justify;
    margin: auto;
    padding: auto;
}
a {
    color: #fdb065;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
h2,h3 {
    text-align: center;
}
ul {
    line-height: 1.8em;
    padding-bottom: 15px;
}
footer {
    padding: 10px 0 10px 0;
    background: black;
    text-align: center;
    font-size: 0.8em;
}

img {
    display: block;
    margin: auto;
    padding-top: 50px;
}
#img-caption {
    color : lightgrey;
    text-align: center;
    padding-bottom: 10px;
    word-spacing: 3px;
    letter-spacing: 2px;
    font-size: 1.1em;
}
p,hr,ul {
    display: block;
    margin: 0 30% 0 30%;

}
@media (max-width: 1000px){
    p,hr,ul {
        margin: 0 15% 0 15%;
    }
@media (max-width: 648px){
    p,hr,ul {
        margin: 0;
    }
    img {
        max-width: 100%;
    }
}
}
#arrierenoir {
    background: black;
}